* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: rgba(175, 47, 47, 0.15);
  font-size: 100px;
  font-weight: 100;
  
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #f5f5f5;
    /* line-height: 1.4em; */
}

#clearButton {
  justify-self: end;
}

#summaryButtons {
  display: grid;
  grid-template: 
  "a b c d e" /35% 5% 10% 15% 35%;
}

p {
  display: grid;
}

#toDoTotal {
 justify-self: start;
}

.summary {
justify-self: center;
}

li {
  list-style-type: none;
  display: grid;
  /* grid-template-columns: min-content; */
  grid-template:
    "a b c";
}

li input {
  justify-self: start;
  border-radius: 50%;
}

input[type="checkbox"]{
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ccc;
  cursor: default;
}

input[type="checkbox"]:checked {
  background-color:bisque;
}

li button {
  justify-self: end;
}

header, #container {
  width: 550px;
}

form {
  display: grid;
  grid-template:
    "a b" / min-content auto;
}

form button {
  justify-self: start;
  grid-area: "a";
}

form input {
  grid-area: b;
}

body {
  display: grid;
  justify-content: center;
  text-align: center;
  /* grid-template: */
}

#container {
  display: grid;
}

/*Kopierar in Jakobs kod för att dölja button. Den funkar men objekten läggs inte på rätt ställe:
  
  li {
    display: flex;
    flex-direction: row;
  }*/
  #deleteButton {
    display: none;
  }
  li:hover #deleteButton {
    display: block;
  }

  .invisible{
    display:none;
  }

  .visible{
    display: grid;
  }