* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    display:grid;
    /* grid-template-columns: min-content; */
    grid-template: 
    "a b c";
  }

  li input {
    justify-self: start;
  }

  li button {
    justify-self: end;
  }

  form button {
    justify-self: start;
   }

  form {
    display: grid;
    grid-template: 
    "a b" / 1fr 9fr;
  }

  body {
    display: grid;
    justify-content: center;
    text-align: center;
    /* grid-template: */
  }

  #container {
    display: grid;
  }

  /*Kopierar in Jakobs kod för att dölja button:
  
  li {
    display: flex;
    flex-direction: row;
  }
  button {
    display: none;
  }
  li:hover button {
    display: block;
  }*/
  